@media screen and (max-width: 1575px) {
	html,
	body {
		width: 100%;
	}

	#ul1,
	#down {
		display: none;
	}
}

@media screen and (max-width: 1175px) {
	html,
	body {
		width: 100%;
	}

	.header_titles,
	.icons {
		display: none;
	}

	.header_nav {
		margin-right: 0px;
	}
}

@media screen and (max-width: 775px) {
	html,
	body {
		width: 100%;
	}

	main h1 {
		text-align: center;
		padding: 200px 0 70px 0;
		font: bold 32px/28px "Open Sans", sans-serif;
	}

	.list > ul > li {
		font-size: 16px;
	}

	.block {
		width: 480px;
	}

	.list {
		display: flex;
		padding-left: 80px;
		width: 100%;
		margin: 0 auto;
	}

	.bottom_title {
		font-size: 20px;
	}

	.left {
		display: flex;
		flex-direction: column-reverse;
	}
}

@media screen and (max-width: 550px) {
	html,
	body {
		width: 100%;
	}

	.line {
		margin: 50px 0;
	}

	h1 {
		font-size: 20px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 18px;
	}

	.menu a,
	.submenu a {
		font: 16px/10px "Open Sans", sans-serif;
	}

	.submenu {
		position: absolute;
		top: 50px;
		left: 11px;
	}

	.submenu_inst,
	.submenu_face,
	.submenu_tel,
	.submenu_vib,
	.submenu_linkedin {
		display: none;
	}

	.menu a:before {
		height: 40px;
	}

	.submenu > li > a {
		padding: 15px;
	}

	main h4 {
		display: block;
		padding-bottom: 20px;
		font: bold 20px/21px "Open Sans", sans-serif;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	main ul li {
		margin-left: 0;
	}

	.technology {
		padding-right: 35px;
	}

	.viber,
	.telegram,
	.instagram,
	.facebook,
	.linkedin {
		margin-right: 5px;
	}
}

@media screen and (max-width: 450px) {
	html,
	body {
		width: 100%;
	}

	main h1 {
		padding: 170px 0 40px 0;
	}

	.block {
		width: 400px;
	}

	.line {
		margin: 40px 0;
	}

	.list {
		padding-left: 50px;
		width: 100%;
		margin: 0 auto;
	}

	main ul li {
		margin-left: 0;
	}

	.technology {
		padding-right: 35px;
	}

	.bottom_title {
		font-size: 18px;
	}

	#footer {
		margin-top: 40px;
	}

	.left {
		display: flex;
		flex-direction: column-reverse;
	}
}

@media screen and (max-width: 420px) {
	html,
	body {
		width: 100%;
	}

	.menu_hide {
		display: none !important;
	}

	main h1 {
		padding: 160px 0 30px 0;
		font-size: 26px;
	}

	.block {
		width: 340px;
	}

	.line {
		margin: 40px 0;
	}

	.list {
		padding-left: 50px;
		width: 100%;
		margin: 0 auto;
	}

	main ul li {
		margin-left: 0;
	}

	.list > ul > li {
		font-size: 14px;
	}

	main h4 {
		font: bold 18px/19px "Open Sans", sans-serif;
	}

	.education,
	.about_me {
		font-size: 14px;
	}

	.technology {
		padding-right: 35px;
	}

	.bottom_title {
		font-size: 18px;
	}

	#footer {
		margin-top: 40px;
	}

	.left {
		display: flex;
		flex-direction: column-reverse;
	}

	.left h3 {
		font-size: 16px;
	}
}
